name: Deploy Flutter Web to GitHub Pages

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # Checkout repository
      - name: Checkout
        uses: actions/checkout@v4

      # Setup Flutter
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.27.1'

      # Enable web support
      - name: Enable Flutter web
        run: flutter config --enable-web

      # Get dependencies
      - name: Get dependencies
        run: flutter pub get

      # Build web
      - name: Build web
        run: flutter build web --release --no-tree-shake-icons --base-href "/mti-ptk/"

      # Copy build files to docs folder
      - name: Copy build to docs
        run: |
          rm -rf docs
          mkdir docs
          cp -r build/web/* docs/

      # Deploy to GitHub Pages
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs
          cname: mti-ptk.vercel.app